<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
	<link th:href="@{/css/bootstrap.5.3.0/bootstrap.css}" rel="stylesheet">
	<script th:src="@{/js/popper.2.11.8.umd/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.5.3.0/bootstrap.min.js}"></script>
	<title>Catalog</title>
</head>
<body>
<div class="container-fluid p-0">
	<div th:insert="blocks/header :: header"></div>
	<div th:insert="blocks/loginModal :: login"></div>
	<div th:insert="blocks/registerMadal :: sign"></div>

	<div class="bg-body-tertiary">
		<div class="container p-2">
			<form class="mt-1" th:action="@{/posts/catalog}" method="post">
				<label class="form-label" for="brand"></label>
				<select class="m-1 btn btn-sm dropdown" name="brand" id="brand" required>
					<option value="none" selected hidden="hidden">Brand</option>
					<option value="BMW">BMW</option>
					<option value="MERCEDES">Mercedes</option>
					<option value="HONDA">Honda</option>
					<option value="LAND ROVER">Land Rover</option>
				</select>

				<label class="form-label" for="model"></label>
				<select class="m-1 btn btn-sm" name="model" id="model" required>
					<option value="none" selected hidden="hidden">Model</option>
					<option value="BMW X5">BMW X5</option>
					<option value="HONDA ACCORD">Honda Accord</option>
					<option value="MERCEDES-BENZ GLE">Mercedes-Benz GLE</option>
					<option value="LAND ROVER SUPERCHARGED">Land Rover SUPERCHARGED</option>
				</select>

				<label class="form-label" for="fromPrice"></label>
				<input class="m-1 btn btn-sm btn-group-sm" type="number" name="fromPrice" id="fromPrice" value="0" placeholder="From $">

				<label class="form-label" for="toPrice"></label>
				<input class="m-1 btn btn-sm " type="number" name="toPrice" id="toPrice" value="0" placeholder="To $">

				<label class="form-label" for="photo"></label>
				<select class="m-1 btn btn-sm " name="withoutPhoto" id="photo" required>
					<option value="true" selected hidden="hidden">Without Photo</option>
					<option value="true">See</option>
					<option value="false">Not see</option>
				</select>

				<button class="m-1 btn btn-sm ms-5" type="submit">Search</button>
			</form>
		</div>
	</div>


	<div class="album py-2 bg-body-tertiary">
		<div class="container">

			<h3 class="pt-3 pe-3 ps-3">Vehicles</h3>
			<div class="p-4 min-vh-100" th:insert="blocks/cards :: cards"></div>
		</div>
	</div>

</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>