<div>
	<h5 th:text="'id = ' + ${post.id}"></h5>
	<h5 th:text=" 'description = ' + ${post.description}"></h5>
	<h5 th:text=" 'creationDate = ' + ${post.creationDate}"></h5>
	<h5 th:text=" 'countOwners = ' + ${post.countOwners}"></h5>
	<h5 th:text=" 'carName = ' + ${post.carName}"></h5>
	<h5 th:text=" 'carPrice = ' + ${post.carPrice}"></h5>
	<h5 th:text=" 'carYear = ' + ${post.carYear}"></h5>
	<h5 th:text=" 'isOwner = ' + ${post.isOwner}"></h5>
	<h5 th:text=" 'Photo Ids = ' + ${post.photoIds}"></h5>
</div>