<header data-bs-theme="dark" th:fragment="header">
  <!--css folder background-color overrated, because changed --bs-secondary-bg-rgb var-->
  <nav class="py-2 bg-body-secondary">
    <div class="container d-flex flex-wrap">
      <ul class="nav">
        <li class="nav-item me-4 pt-1">
          <a href="/"><img th:src="@{../img/logo.png}" alt="logo" height="38"></a>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2">Home</a></li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="/posts/last_day" class="nav-link link-body-emphasis px-2">Last 24 hours</a></li>
      </ul>
      <ul class="nav me-auto">
        <li class="nav-item"><a href="/posts/catalog" class="nav-link link-body-emphasis px-2">Catalog</a></li>
      </ul>

      <!--Auth block-->
      <div th:if="${user.login == 'Guest'}">
        <ul class="nav">
          <li class="nav-item">
            <button type="button" class="nav-link link-body-emphasis px-2" data-bs-toggle="modal"
                    data-bs-target="#login">Login</button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link link-body-emphasis px-2" data-bs-toggle="modal"
                    data-bs-target="#signup">Sign up</button>
          </li>
        </ul>
      </div>
      <div th:if="${user.login != 'Guest'}">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link link-body-emphasis px-2" th:text="${user.login}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-body-emphasis px-2" th:href="@{/users/logout}">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>