<header data-bs-theme="dark" th:fragment="header">
  <nav class="py-2 bg-body-tertiary">
    <div class="container d-flex flex-wrap">
      <ul class="nav">
        <li class="nav-item me-4 pt-1">
          <a href="/"><img th:src="@{../img/logo.png}" alt="logo" height="38"></a>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2">Home</a></li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="/posts/last_day" class="nav-link link-body-emphasis px-2">Last 24 hours</a></li>
      </ul>
      <ul class="nav me-auto">
        <li class="nav-item"><a href="/posts/catalog" class="nav-link link-body-emphasis px-2">Catalog</a></li>
      </ul>

    </div>
  </nav>
</header>